/* LAYOUT */
.parent {
  height: 1000px;
}
.left {
  background-color: lightblue;
}
.right {
  background-color: lightslategray;
}

/* LOGIN */
.frm-login { width: 50%; margin: 0 auto; }
.frm-login-panel { border: 1px solid black; }
.frm-login-header { background-color: orange; }
.frm-login-toolbar { background-color: orange; color: white; }
.frm-login-body { display: flex; flex-direction: column; margin-top: 15px; }
.btn-login { background-color: green; color: white; }
.frm-login-actions { text-align: right; }

/* MAIN */
.wrapper { width: 100%; margin-top: 10%; }

h1{
  z-index: 3;
  margin-top: 50%;
}

/* TOOLBAR */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
